body {
	font-size: 16px;
	color: #fff;
	background-color: #0d7246;
	font-family: "Oxigen", sans-serif;
	/* padding-top: 70px; */
}

#header-nav {
	background-color: #ccd61b;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #342dc4;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;	
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  
}
#nav-list a {
  color: #951C49;
  }

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid #231d9b;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#collapsable-nav a {
	font-size: 1.2em;
	
}

#collapsable-nav a span {
	font-size: 1em;
	margin-right: 5px;
	}

#menu_header {
	font-family: 'Lora', serif;
	margin-top: 5px;
}

#main_section {
	font-family: 'Lora', serif;
	
}

#text_section {
	text-align: left;
	margin: 20px;
	padding: 10px;
	background-color: #777774;
}

.section_footer {
	font-family: 'Lora', serif;
	color: #342dc4;
	text-align: center;
	padding: 15px;
	background-color: #ccd61b;
	border: 1px solid #777774;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
		
}

.section_footer a:hover, .navbar-brand a:focus {
	text-decoration: none;
}